:root {
    --main-app-color: #1a242f;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

input,
textarea,
select,
.ant-input-number,
.ant-picker,
.ant-select-selector,
.ant-input-affix-wrapper {
    border-radius: 8px !important;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    .container-sm,
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1400px;
    }
}

.text-xs {
    font-size: 12px;
}
.text-sm {
    font-size: 14px;
}
.text-md {
    font-size: 16px;
}
.text-lg {
    font-size: 18px;
}
.text-xl {
    font-size: 20px;
}
.text-2xl {
    font-size: 22px;
}
.text-3xl {
    font-size: 24px;
}
.text-4xl {
    font-size: 26px;
}
.text-5xl {
    font-size: 28px;
}
.text-6xl {
    font-size: 30px;
}
.text-7xl {
    font-size: 32px;
}
.text-8xl {
    font-size: 34px;
}
.text-9xl {
    font-size: 36px;
}
.text-10xl {
    font-size: 38px;
}
.text-11xl {
    font-size: 40px;
}
.text-12xl {
    font-size: 42px;
}
@media screen and (max-width: 576px) {
    .text-xs {
        font-size: 11px;
    }
    .text-sm {
        font-size: 13px;
    }
    .text-md {
        font-size: 14px;
    }
    .text-lg {
        font-size: 16px;
    }
    .text-xl {
        font-size: 18px;
    }
    .text-2xl {
        font-size: 20px;
    }
    .text-3xl {
        font-size: 22px;
    }
    .text-4xl {
        font-size: 24px;
    }
    .text-5xl {
        font-size: 26px;
    }
    .text-6xl {
        font-size: 28px;
    }
    .text-7xl {
        font-size: 30px;
    }
    .text-8xl {
        font-size: 32px;
    }
    .text-9xl {
        font-size: 34px;
    }
    .text-10xl {
        font-size: 36px;
    }
    .text-11xl {
        font-size: 38px;
    }
    .text-12xl {
        font-size: 40px;
    }
}

.opacity-0 {
    opacity: 0;
}

.text-ellipsis-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    white-space: normal;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pointer {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-secondary-color {
    color: #888888;
}

.ant-layout {
    background: #ffffff !important;
}

.image-placeholder {
    background-color: #fff;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.fade-out-placeholder {
    animation: fadeOut 0.4s;
    -webkit-animation: fadeOut 0.4s;
    -moz-animation: fadeOut 0.4s;
    -o-animation: fadeOut 0.4s;
    -ms-animation: fadeOut 0.4s;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-image {
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading-modal .ant-modal-content {
    background-color: transparent !important;
    box-shadow: none;
    display: flex;
    justify-content: center;
}

.loading-pac-man {
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5em;
    border-radius: 100em 100em 0 0;
    background: #f00;
    transform-origin: bottom;
    -webkit-animation: eating-top 0.5s infinite;
    animation: eating-top 0.5s infinite;
}
.loading-pac-man,
.loading-pac-man::before {
    width: 70px;
    height: calc(70px / 2);
    background: #fed75a;
}
.loading-pac-man::before {
    content: "";
    display: block;
    margin-top: calc(70px / 2);
    position: absolute;
    transform-origin: top;
    border-radius: 0 0 100em 100em;
    transform: rotate(80deg);
    -webkit-animation: eating-bottom 0.5s infinite;
    animation: eating-bottom 0.5s infinite;
}
.loading-pac-man::after {
    position: absolute;
    border-radius: 100em;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    margin-top: calc((70px / 2) - 10px);
    margin-left: calc((70px / 2) - 10px);
    transform-origin: center;
    -webkit-animation: center 0.5s infinite, ball 0.5s -0.33s infinite linear;
    animation: center 0.5s infinite, ball 0.5s -0.33s infinite linear;
}
@-webkit-keyframes eating-top {
    0% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}
@keyframes eating-top {
    0% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}
@-webkit-keyframes eating-bottom {
    0% {
        transform: rotate(80deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(80deg);
    }
}
@keyframes eating-bottom {
    0% {
        transform: rotate(80deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(80deg);
    }
}
@-webkit-keyframes center {
    0% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(40deg);
    }
}
@keyframes center {
    0% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(40deg);
    }
}
@-webkit-keyframes ball {
    0% {
        opacity: 0.7;
        box-shadow: 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a,
            220px 0 0 0 #fed75a;
    }
    100% {
        box-shadow: 20px 0 0 0 #fed75a, 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a,
            170px 0 0 0 #fed75a;
    }
}
@keyframes ball {
    0% {
        opacity: 0.7;
        box-shadow: 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a,
            220px 0 0 0 #fed75a;
    }
    100% {
        box-shadow: 20px 0 0 0 #fed75a, 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a,
            170px 0 0 0 #fed75a;
    }
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.chat-drawer .chat-header .close {
    display: none;
}

@media (max-width: 767.99px) {
    .chat-drawer .ant-drawer-content-wrapper {
        width: 100% !important;
    }
    .chat-drawer .chat-header .close {
        display: block;
    }
    .chat-drawer .ant-list-item-action {
        display: none;
    }
}

.chat-drawer .ant-drawer-header-title,
.chat-drawer .ant-drawer-title {
    width: 100%;
}

.chat-drawer .chat-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-drawer .chat-header .name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
